@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    background-color: rgb(26, 255, 0);
  
}

.image{
    background-color: transparent;
    height: 100px;
    width:100px;
    transform: scale(2);
    padding-left: 15px;
    margin-right:10px ;
}

.navbar .container-fluid a{
    width: 100%;
    display: flex;
    justify-content: center;   
  
}
.container-fluid{
    position:sticky ;
}
.main{
    position:relative ;
    top: 200px;
}

.cards{
    display:flex;
    margin-top: 50px;
    justify-content: space-around;
    background-size: contain;
    object-fit: contain;
    
}
.card{
border: 4px solid rgb(4, 4, 4);

 object-fit: contain;
 text-align: center;
 transition: ease 0.8s;

}
.card .btn{
    margin-top:10px;
}
.card:hover{
    border: 2px solid rgb(0, 255, 0);
    transform: scale(0.9);
  
  }
#con{
    position: sticky;
}











.bottom center{
    margin-top:20px;
    padding: 5px;
    font-size: 0.9375rem;
    background: green;
}
.bottom center span{
    color:white
}
.bottom center a{
    color: yellow;
    text-decoration: none;
}
.bottom center a:hover{
   text-decoration: underline;
}